

body{
    background-color: #f2e9e4;
    margin: 0 auto;
    width: 100%;
    padding: 0;
}
*{
    font-family: "Playfair Display", serif;
    font-weight: 450;
    font-style: normal;
    color: #22223b;
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    body{
    background-color: #f2e9e4;
    margin: 0 auto;
    width: 100%;
    padding: 0;
}
*{
    font-family: "Playfair Display", serif;
    font-weight: 450;
    font-style: normal;
    color: #22223b;
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    
    /* outline: 2px solid red !important; */
}

}

.header {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: black;
    overflow: hidden;
    z-index: 0;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.742), rgba(255, 255, 255, 0.025)),url(assets/photos/20240314_174551.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(7px);
    opacity: 1; /* Немного затемнить изображение */
    z-index: -1;
}
.info p{
    color: #22223b;
    font-size: 1.2em;
    margin-bottom: 14px;
    text-shadow: 0px 0px 15px #22223b;
}
*::-webkit-scrollbar{
    display: none;
}
a{
    text-decoration: none;
    color: #22223b;
}
nav {
    padding: 0 5%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Логотип справа, ссылки в центре */
    align-items: flex-start; /* Выровнять элементы по верхнему краю */
    height: auto;
}

nav .logo {
    font-size: 5rem;
    color: #f2e9e4;
    font-weight: 700;
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}
nav .links a:not(:last-child){
    margin-right: 20px;
}
nav .links a {
    font-size: 1rem;
    color: #f2e9e4;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color, color 0.3s ease;
    align-self: flex-start; /* Выровнять ссылки по верхнему краю */
}
.links a:hover {
    color: #c9ada7;
    border-radius: 0;
}
nav .links {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Добавить промежуток между ссылками */
}
.container{
    margin-top: 100px;
    padding: 1rem, 2rem;
}
.container h1{
    font-size: 4rem;
    font-weight: 700;
}
.slider-wrapper{
    position: relative;
    max-width: 90rem;
    margin: 0 auto;
}
.slider{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.55);
    border-radius: 0.5rem;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}
.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
.slider-nav{
    display: flex;
    column-gap: 2rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #f2e9e4;
    opacity: 0.75;
    transition: opacity ease 250ms;
}
.slider-nav a:hover{
    opacity: 1;
}

.slider-nav a.active {
    opacity: 1;
}
.description {
    max-width: 90rem;
    margin: 2rem auto;
    border-radius: 1rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.55);
    border: 2px solid transparent;
    transition: all 0.3s ease;
}
.description:hover{
    border: 2px solid;
    box-shadow: none;
}
.main{
    position: relative;
    padding-bottom: 2rem;
}
.footer h1, p, i{
    color: #f2e9e4;
}
.footer-content h4{
    color: #f2e9e4;
    margin-bottom: 1.5rem;
    font-size: 20px;
}
.footer-content li{
    margin-bottom: 16px;
}
.footer-content li a{
    display: block;
    color: #9a8c98;
    font-size: 15px;
    font-weight: 400;
    transition: all 0.40s ease;
}
.footer { 
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, auto));
    gap: 3.4rem;
    background-color: #22223b;
    position: absolute;
    left: 0;
    right: 0;
}
footer{
    margin-top: 100px;
    padding: 80px;
}
.footer-content li a:hover{
    transform: translateY(-3px) translateX(-5px);
    color: aliceblue;
}
.footer-content p{
    font-size: 16px;
    line-height: 30px;
    margin: 20px 0;
}
.icons a{
    display: inline-block;
    font-size: 22px;
    margin-right: 17px;
    transition: all 0.40s ease;
}
.icons a:hover{
    color: aliceblue;
    transform: translateY(-5px);
}
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #9a8c98;
    border-radius: 5px;
    font-size: 16px;
}

.contact-form button {
    padding: 10px;
    background-color: #4a4e69;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.contact-form button:hover {
    background-color: #22223b;
}

.services{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 2rem;
}

.service img{
    width: 100%;
    object-fit: cover;
    height: 300px;

}
.service-content{
    padding: 5px 10px 16px 10px;
}

.service {
    position: relative; /* Родитель для абсолютного позиционирования окна */
    margin-top: 20px;
    width: 349px;
    border-radius: 18px;
    overflow: hidden;
    transition: all 0.4s;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.55);
}

/* Стили для кнопки "Подробнее" */
.more-btn {
    display: block;
    margin: 10px 0;
    padding: 8px 16px;
    background-color: #22223b;
    color: #f2e9e4;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.more-btn:hover {
    background-color: #4a4e69;
}

/* Окно с подробностями */
.service-details {
    position: absolute;
    font-size: 1em;
    top: 0;
    right: 0;
    width: 100%; /* Задаёт ширину окна */
    height: 100%;
    background-color: #22223b; /* Светлый фон для читаемости */
    text-shadow: 0px 0px 10px wheat;
    color: #000; /* Более тёмный цвет текста для контраста */
    padding: 20px;
    /* box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2); */
    transform: translateX(100%);  /* Изначально окно скрыто справа */
    transition: transform 0.5s ease;
    z-index: 10; /* Окно выводится поверх остальных элементов */
    overflow-y: auto; /* Добавляем скролл, если содержимого много */
}
.service-details p{
    margin-bottom: 15px;

}
/* Состояние активного окна: окно выезжает внутрь карточки */
.service-details.active {
    transform: translateX(0);
}
.btn{
    align-items: center;
    padding: 5px 5px;
    border-radius: 5px;
    border: 1px solid;
    color: #22223b;
    transition: all 0.4s ease;
}
.btn:hover{
    color: #f2e9e4;
    border-radius: 10px;
    border-color: #4a4e69;
    background-color: #22223b;
}
h1{
    text-align: center;
}
.service:hover{
    box-shadow: none;
}

.hide-btn {
    
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px 12px;
    background-color: #f2e9e4;
    color:#22223b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hide-btn:hover {
    background-color: #4a4e69;
}
.portfolio {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    
    gap: 2rem;
    margin-top: 2rem;
    padding: 0 1rem;
  }
  
  .video-item {
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .video-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  }
  
  .video-item video {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .video-title {
    margin-top: 0.75rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #22223b;
  }
  
  .video-date {
    margin-top: 0.25rem;
    font-style: italic;
    font-size: 0.9rem;
    color: #555;
  }
/* Анимация пульсации для декоративных элементов */

@keyframes pulse {
    0% {
        transform: scale(1.2);
        opacity: 1;
    }
    50% {
        transform: scale(1.5);
        opacity: 0.6;
    }
    100% {
        transform: scale(1.2);
        opacity: 1;
    }
}

@media (max-width: 650px) {
    .portfolio {
      grid-template-columns: 1fr;
    }
    .container h1{
        font-size: 1.9rem;
        font-weight: 700;
    }
  }
@media (max-width: 768px) {
    nav .logo {
        font-size: 3rem;
    }
    .team h1 {
        font-size: 2.5rem;
    }

    .member img {
        max-width: 250px;
    }

    .member-about h3 {
        font-size: 1.8rem;
    }

    .member-about p {
        font-size: 1.3rem;
    }
    .member{
        gap: 2rem;
    }
    nav {
        flex-direction: column;
        align-items: flex-start; 
        padding: 1rem;
    }

    nav .links {
        width: 100%;
        justify-content: space-around;
    }

    nav a.logo {
        margin-bottom: 1rem;
    }
    .footer{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, auto));
        gap: 2.5rem;
    }
    .container h1{
        font-size: 2rem;
        font-weight: 700;
    }
}
@media (max-width: 1120px) {
    .footer{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
        gap: 2rem;
    }
    .container h1{
        font-size: 2.4rem;
        font-weight: 700;
    }
}
@media (max-width: 480px) {
    nav .logo {
        font-size: 2rem;
        font-weight: 800;
    }
    .team h1 {
        font-size: 2rem;
    }

    .member {
        flex-direction: column; /* Элементы располагаются вертикально */
        text-align: center;
    }

    .member img {
        max-width: 400px;
        aspect-ratio: 16/9;
    }

    .member-about h3 {
        font-size: 1.5rem;
    }

    .member-about p {
        font-size: 1.2rem;
    }
    .member{
        gap: 2rem;
    }
    .container h1{
        font-size: 1rem;
        font-weight: 700;
    }
}
.cool {
    --s: 50px; /* control the size */
    --c1: #5E412F;
    --c2: #FCEBB6;
    
    background:
      radial-gradient(25% 50%,var(--c1) 98%,#0000)
       var(--s) 0/calc(2*var(--s)) var(--s),
      radial-gradient(25% 50%,var(--c2) 98%,#0000)
       0 0/calc(2*var(--s)) var(--s),
      repeating-conic-gradient(var(--c1) 0 25%,var(--c2) 0 50%) 
       0 0/calc(2*var(--s)) calc(2*var(--s));
  }
.tag-list{
    margin: 0;
    padding-inline: 0;
    list-style: none;
}
.tag-list li{
    padding: 1rem;
    background: beige;
    border-radius: 0.5rem;

}
.scroller{
    max-width:  80%;
    justify-content: center;
    margin: 0 auto;
    /* outline: 3px solid lime; */
    
}

.scroller__inner{
    padding-block: 1rem;
    display: flex;
    
    flex-wrap: wrap;
    gap: 1rem;
}

.scroller[data-animated=true]{
    overflow: hidden;
    -webkit-mask:linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}
.scroller[data-animated=true] .scroller__inner{
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll 20s linear infinite;
}
@keyframes scroll{
    to{
        transform: translate(calc(-50% - .5rem));
    }
}
.scroller__inner img{
    width: 100%;
    object-fit: cover;
    height: 300px;
}